@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plus-jakarta);
  --font-serif: var(--font-dm-serif);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in-up 1s ease-out both;
}

.delay-100 {
  animation-delay: 0.1s;
}

.delay-200 {
  animation-delay: 0.3s;
}

.delay-300 {
  animation-delay: 0.5s;
}

.delay-500 {
  animation-delay: 0.8s;
}